.navigation {
  padding: 40px 0;
  width: 15%;
  height: fit-content;
  background: #A68343;
  box-shadow: 0px 0px 10px #898598;
}

@media screen and (max-width: 850px) {
  .navigation {
    width: 20%;
    padding: 30px 0;
  }
}

/* для мобилок */

@media screen and (max-width: 550px) {
  .navigation {
    display: flex;
    flex-direction: row;
    width: 96%;
    margin: 0 auto;
    padding: 0;
  }
}