.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

/* для мобилок */

@media screen and (max-width: 550px) {
  .main {
    flex-direction: column-reverse;
  }
}