.navigation__item {
  padding: 0 10px;
  position: relative;
  display: block;
  text-align: center;
}

.navigation__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #453784;
  z-index: 1;
  transition: all .3s ease;
}

.navigation__item:hover.navigation__item::after {
  height: 100%;
}