.header {
  max-width: 1280px;
  padding: 2% 0;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .header {
    width: 92%;
  }
}

@media screen and (max-width: 650px) {
  .header {
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .header {
    width: 96%;
  }
}